#body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 400px 600px 150px;
    grid-template-areas: "resultados area_juego welcome";
}



.welcome {
    grid-area: "welcome";
}

.area_juego {
    grid-area: "area_juego";
}

.contenedor {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: beige;
    border: 10px dashed #aa4;
    ;
}

#player {
    background-color: #900;
    border: 4px dashed #b22;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    transition: all 0.4s;
}

.pointer {
    background-color: rgb(74, 72, 72);
    height: 30px;
    margin-top: 30px;
    border-bottom: 0px;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
}

#resultados {
    margin-left: 40px;
    margin-top: 30px;
    grid-area: "resultados";
    background-color: beige;
    border: 6px dashed #aa4;
    width: 200px;
    height: max-content;
}

.registro {
    margin: 10px;
    background-color: rgb(178, 178, 144);
}

#rank {
    margin-top: 25px;
}

#rightBanner {
    height: max-content;
    border: 6px dashed #aa4;
    width: 200px;
    background-color: beige;
    margin-top: 28px;
    padding-left: 25px;
}

#historial {
    margin-top: 20px;
}

#mejor_tiempo {
    margin: 10px;
    background-color: #ffbf00;
    border: 3px solid #b38601;
}


/*juego de pokemon*/


/*POKEBALLS*/

.child-to-body {
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.pokeball {
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    border: 5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: shake 1.25s cubic-bezier(.36, .07, .19, .97) infinite;
    animation-play-state: paused;
}

.pokeball:hover {
    animation-play-state: running;
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    20% {
        transform: translate(-10px, 0) rotate(-20deg);
    }

    30% {
        transform: translate(10px, 0) rotate(20deg);
    }

    50% {
        transform: translate(-10px, 0) rotate(-10deg);
    }

    60% {
        transform: translate(10px, 0) rotate(10deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.pokeball::before,
.pokeball::after {
    content: "";
    position: absolute;
}

.pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
}

.pokeball::after {
    top: calc(50% - 5px);
    width: 100%;
    height: 10px;
    background: #000;
}

.pokeball__button {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: #fff;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 7px black;
    animation: blink .5s alternate infinite;
    animation-play-state: paused;
}

.pokeball__button_fire {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: #fff;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 7px black;
    animation: blinkFire .5s alternate infinite;
    animation-play-state: paused;
}

.pokeball__button_electric {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: #fff;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 7px black;
    animation: blinkElectric .5s alternate infinite;
    animation-play-state: paused;
}

.pokeball:hover .pokeball__button {
    animation-play-state: running;
}

.pokeball:hover .pokeball__button_fire {
    animation-play-state: running;
}

.pokeball:hover .pokeball__button_electric {
    animation-play-state: running;
}

@keyframes blink {
    from {
        background: #eee;
    }

    to {
        background: #25a2ef;
    }
}

@keyframes blinkFire {
    from {
        background: #eee;
    }

    to {
        background: #db4e0c;
    }
}

@keyframes blinkElectric {
    from {
        background: #eee;
    }

    to {
        background: #ffbf00;
    }
}

#botonBosque {
    background-image: url("Imagenes/bosque_backround.png");
    width: 40%;
    height: 400px;
}

#botonBosque:hover {
    width: 50%;
    border: solid rgb(0, 0, 0) 10px;
    height: 500px;
}



#botonPlaya {
    background-image: url("Imagenes/montaña_backround.bmp");
    width: 40%;
    height: 400px;
}

#botonPlaya:hover {
    width: 50%;
    border: solid rgb(0, 0, 0) 10px;
    height: 500px;
}




.btn_mapa_container {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

#mnsj_perdiste {
    font-size: 20px;
    color: white;
    background-color: #2e2cc6;
    height: 25px;
    margin-top: 200px;
}

.boton_rojo {
    margin-top: 450px;
    background-color: #900;
    border-radius: 80px;
    width: 50px;
    height: 50px;
}

.boton_verde {
    margin-top: 450px;
    background-color: rgb(0, 137, 0);
    border-radius: 80px;
    width: 50px;
    height: 50px;
}

.batallas_contenedor {
    margin-top: 20px;

    width: 800px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}





.batalla_bosque {
    margin-top: 20px;
    width: 800px;
    height: 550px;
    display: flex;
    background-image: url("Imagenes/battleground_forest.png");
    background-repeat: no-repeat;
    background-size: 800px 550px;
}

.boton_pelea {
    margin-top: 450px;
    background-color: white;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    border-radius: 80px;
}


#body_pokemon {
    padding: 0px;
    margin-top: 10px;
    font-family: sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;

}


#juego {
    display: flex;
    flex-direction: column;

}


.montaña {

    background-image: url("Imagenes/montaña_backround.bmp");
}

.bosque {
    background-image: url("Imagenes/bosque_backround.png");
}

.menu_backround {
    background-image: url("Imagenes/menu_backround");
    background-size: 100%;
}

.menu_backround_2 {
    background-image: url("Imagenes/pokemno_lab.jpeg");
    background-size: 100%;
}

.menu_backround_3 {
    background-image: url("Imagenes/Professor_Oaks_Laboratory.png");
    background-size: 100%;
}


#botones_pokemon {
    display: flex;
    flex-direction: column;

}

#p_mapa {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

p {
    display: flex;
    justify-content: center;

}

#menu {
    background-color: #7e8777;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

.area_batalla {
    width: 500px;
    background-color: white;
}

/*Grid pokemon*/
.grid_batalla_bosque {
    width: 800px;
    display: grid;
    grid-template-columns: 440px 360px;
    grid-template-rows: 240px 170px 160px;
}

.one {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 65px;
    padding-right: 100px;
    font-size: 20px;
    grid-column: 1;
    grid-row: 1;
}

#health_enemy {
    margin-left: 163px;
    margin-top: 6px;
    width: 150px;

}


.two {
    grid-column: 2;
    grid-row: 1;
}

.twoGolpe {
    grid-column: 2;
    grid-row: 1;
    animation-name: ataqueEnemigo;
    animation-duration: 1s;
    transition: ease-in-out;
}


.three {
    grid-column: 1;
    grid-row: 2;
}

.threeGolpe {
    grid-column: 1;
    grid-row: 2;
    animation-name: ataque;
    animation-duration: 2s;
    transition: ease-in-out;
}


@keyframes ataque {
    to {
        transform: translateX(0);
    }

    from {
        transform: translate(270px, -200px);
    }
}

@keyframes ataqueEnemigo {
    from {
        transform: translate(-270px, 150px);
    }

    to {
        transform: translateX(0);
    }
}

.four {
    text-align: center;
    padding-right: 90px;
    padding-top: 80px;
    font-size: 20px;
    grid-column: 2;
    grid-row: 2;
}

#infoMiPokemon {
    display: flex;
    flex-direction: row;
    height: 23px;
    padding-left: 105px;
}

#Mi_Nivel {
    padding-left: 60px;
}


#health_yo {
    width: 150px;
    margin-left: 129px;
    margin-top: 7px;
}

.five {
    font-size: 23px;
    text-align: center;
    padding-top: 40px;
    color: rgb(200, 193, 193);
    grid-column: 1;
    grid-row: 3;
}

.six {
    padding-left: 10px;
    padding-top: 30px;
    grid-column: 2;
    grid-row: 3;
}

#botonAtacar {
    margin-left: 20px;
}

#noProgramado {
    margin-left: 90px;
}

/*LOBBY*/

#volver_lobby {
    color: black;
    text-decoration: none;
}

.p_lobby{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}


#Lobby {
    background-color: #aa4;
}

#lobby_btn_container{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}



.link_backround{
    
    height: 500px;
    width: 500px;
    display: flex;
    background-image: url("Imagenes/Pokemon_Preview.png") ;

}

.link_backround:hover{
    width: 600px;
    height: 550px;
    border: solid #000 5px;
}

.link_backround_2{
    
    height: 500px;
    width: 500px;
    display: flex;
    background-image: url("Imagenes/Aim_Preview.png") ;

}

.link_backround_2:hover{
    width: 600px;
    height: 550px;
    border: solid #000 5px;
}



/*pokedex*/

#body_Pokedex {

    background-image: linear-gradient(135deg, #00b7d4, #505488, #2f3f80, #2e2cc6, #5a4894, #a950a1);
    background-size: 500%;

    animation: animated 12s ease-in-out infinite;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
}


@keyframes animated {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

h1 {
    color: white;
}

.pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.pokemon-block,
.pokemon-block-back {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}


.pokemon-block p {
    margin: 5px;
}

.name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
}

#spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

.pagination {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .card-container {
    transform: rotateY(180deg);
}

.pokemon-block,
.pokemon-block-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
}

.stat-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
}

.boton_pokedex {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

#boton_pokedex {
    margin-top: 10px;
    border-radius: 10px;
}